/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

modules_testdata_base_path = "./"
pipelines_testdata_base_path = "./"

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
params {
    // ** Anatomical preprocessing steps ** //
    preproc_run_denoising                   = true
    preproc_run_N4                          = true
    preproc_run_resampling                  = true
    preproc_run_synthstrip                  = true
    preproc_run_ants_bet                    = false
    preproc_run_crop                        = true

    // ** DWI preprocessing steps ** //
    preproc_dwi_run_denoising               = true
    preproc_dwi_run_degibbs                 = false
    topup_eddy_run_topup                    = true
    topup_eddy_run_eddy                     = true
    dwi_run_synthstrip                      = true
    preproc_dwi_run_N4                      = true
    preproc_dwi_run_resampling              = true

    // ** Tracking ** //
    run_pft_tracking                        = true
    run_local_tracking                      = true
}

process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_T1:CROPVOLUME' {
        ext.output_bbox = true
        ext.first_suffix = "T1w"
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_T2:CROPVOLUME' {
        ext.output_bbox = true
        ext.first_suffix = "T2w"
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:CROPDWI' {
        ext.output_bbox = true
        ext.first_suffix = 'dwi'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:CROPB0' {
        ext.first_suffix = 'b0'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:CROPMASK' {
        ext.first_suffix = 'mask'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:CONVERT' {
        ext.first_suffix = 'mask'
        ext.datatype = 'uint8'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:BETCROP_FSLBETCROP' {
        ext.crop = true
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:RESAMPLE_DWI' {
        ext.first_suffix = 'dwi'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:RESAMPLE_MASK' {
        ext.first_suffix = 'mask'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:RESAMPLE_WMMASK' {
        ext.interp = "nn"
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:CROPT2' {
        ext.output_bbox = true
        ext.first_suffix = 't2'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:CROPWMMASK' {
        ext.first_suffix = 'wm_mask'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:REGISTRATION_ANTSAPPLYTRANSFORMS' {
        ext.first_suffix = "wm_mask"
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:RESAMPLE_DWI' {
        ext.first_suffix = 'dwi'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:CROPDWI' {
        ext.output_bbox = true
        ext.first_suffix = 'dwi'
    }
}
