/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_T1:BETCROP_CROPVOLUME_T1' {
        ext.output_bbox = true
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:CROPDWI' {
        ext.output_bbox = true
        ext.first_suffix = 'dwi'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:CROPB0' {
        ext.first_suffix = 'b0'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:CROPMASK' {
        ext.first_suffix = 'mask'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:CONVERT' {
        ext.first_suffix = 'mask'
        ext.datatype = 'uint8'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:BETCROP_FSLBETCROP' {
        ext.crop = true
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:RESAMPLE_DWI' {
        ext.first_suffix = 'dwi'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:PREPROC_DWI:RESAMPLE_MASK' {
        ext.first_suffix = 'mask'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:RESAMPLE_WMMASK' {
        ext.interp = "nn"
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:CROPT2' {
        ext.output_bbox = true
        ext.first_suffix = 't2'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:CROPWMMASK' {
        ext.first_suffix = 'wm_mask'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:REGISTRATION_ANTSAPPLYTRANSFORMS' {
        ext.first_suffix = "wm_mask"
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:RESAMPLE_DWI' {
        ext.first_suffix = 'dwi'
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:CROPDWI' {
        ext.output_bbox = true
        ext.first_suffix = 'dwi'
    }
}
